<div class="d-flex justify-content-between flex-warp gap-4 mb-3">
    <div class="d-flex justify-content-between gap-2 rounded-2 bg-gray border border-1 px-3 py-3">
      <span class="tx-12 fw-bold">TOTAL:</span>
      <span class="badge bg-secondary badge-align">{{ total }}</span>
    </div>
    <div class="d-flex justify-content-between gap-2 rounded-2 bg-gray border border-1 px-3 py-3">
      <span class="tx-12 fw-bold">PENDENTE:</span>
      <span class="badge bg-warning badge-align">{{ totalPending }}</span>
    </div>
    <div class="d-flex justify-content-between gap-2 rounded-2 bg-gray border border-1 px-3 py-3">
      <span class="tx-12 fw-bold">EM DESENVOLVIMENTO:</span>
      <span class="badge bg-primary badge-align">{{ totalInDev }}</span>
    </div>
    <div class="d-flex justify-content-between gap-2 rounded-2 bg-gray border border-1 px-3 py-3">
      <span class="tx-12 fw-bold">FINALIZADO:</span>
      <span class="badge bg-success badge-align">{{ totalFinished }}</span>
    </div>
  </div>
