<form [formGroup]="filterForm" class="filters">
    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="">Todos</mat-option>
        <mat-option value="pendente">Pendente</mat-option>
        <mat-option value="em_desenvolvimento">Em desenvolvimento</mat-option>
        <mat-option value="concluida">Concluída</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Responsável</mat-label>
      <input matInput formControlName="responsible" placeholder="Filtrar por nome" />
    </mat-form-field>
  </form>

<table mat-table [dataSource]="tasks" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef >Vencimento</th>
        <td mat-cell  *matCellDef="let task" >{{task.date }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef >Titulo</th>
        <td mat-cell  *matCellDef="let task" >{{task.title}}</td>
    </ng-container>

    <ng-container matColumnDef="responsible">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsável</th>
        <td mat-cell *matCellDef="let task">{{ task.responsible }}</td>
    </ng-container>


    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef >Status</th>
        <td mat-cell  *matCellDef="let task" >{{ task.status }}</td>
    </ng-container>
    
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef >Descrição</th>
        <td mat-cell  *matCellDef="let task" >{{ task.description }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let task">
          <button mat-icon-button (click)="updateTask(task)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

<app-modal *ngIf="showModal" (close)="closeModal()">
    <app-task-form
      [task]="selectedTask"
      (save)="saveTask($event)"
      (cancel)="closeModal()"
    ></app-task-form>
</app-modal>

